header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://t4.ftcdn.net/jpg/03/70/90/33/360_F_370903385_hL6eUgc2w2OEwMPS8q9OdFZrYDQYdzPB.jpg);
    background-position: top;
    width: 100%;
    height: 300px;
    color: black;
    text-align: center;
}

main {
    padding: 20px;
    text-align: justify;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    gap: 100px;
    margin: 0;
}

 nav ul {
    text-decoration: none;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: brown;
}

.titre {
    position: relative;
    bottom: 50px;
}

.titre:hover {
    color: brown;
    transition: 1s;
    transform: scale(1.2);
}